<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com', crossorigin />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap' />
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %>.</p>
  <p>In this page we will address the lore surrounding the Dark Souls Universe
  from the lighting of the first Flame to the end of time itself.</p>
</body>
</html>
